@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style-type: none;
}

/*Layout*/

header {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.sec__1 {
  background: url("images/bg-hero-desktop.svg");
}

.sec__1,
.sec__2,
.sec__3,
.sec__4,
.sec__5 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sec__1__a,
.sec__1__b,
.sec__2__a,
.sec__2__b,
.sec__3__a,
.sec__3__b,
.sec__4__a,
.sec__4__b {
  line-height: 1.7;
  width: 350px;
  height: 350px;
}

.cont {
  width: 300px;
}

.phone__no,
.email__add,
.location {
  padding-top: 1rem;
  display: inline-flex;
}

.phone__no img,
.email__add img,
.location img {
  margin-top: 0.5rem;
  color: white;
  max-width: 15px;
  height: 15px;
}

/*Images*/
.logo img,
.cont img {
  max-width: 150px;
  max-height: 150px;
}

.sec__1__b img,
.sec__2__b img,
.sec__3__a img,
.sec__4__a img {
  max-width: 100%;
  max-height: 100%;
}

.cont img {
  color: white;
}
/*@Images*/

/*Typography*/

body {
  font-family: "Open Sans", sans-serif;
}

.sec__1 {
  padding-top: 7rem;
}

.sec__1__a h1 {
  font-size: 1.5rem;
}

.sec__2,
.sec__3,
.sec__4 {
  width: 800px;
  height: 370px;
  margin-left: 15%;
  border: 1px solid rgb(238, 233, 233);
  margin-bottom: 2rem;
}

button {
  padding-left: 3rem;
  padding: 6px 35px;
  border: 1px solid white;
  border-radius: 1rem;
}

.contact-btn button {
  background: hsl(193, 100%, 96%);
}

.sec__1__a button,
.raises__box button {
  background: hsl(322, 100%, 66%);

  color: white;
}

.raises__box {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  background-color: hsl(0, 0%, 97%);
  text-align: center;
}

.raises__box h1 {
  color: black;
}

footer {
  margin-top: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  height: 320px;
  background: hsl(192, 100%, 9%);
  color: hsl(208, 11%, 55%);
}

.footer__main {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__copy {
  padding-left: 30%;
}

.fa {
  padding: 7px;
  border: 1px solid grey;
  border-radius: 50px;
}

/*@Typography*/

/*Hover*/
.contact-btn button:hover {
  color: grey;
}

.raises__box button:hover,
.sec__1__a button:hover {
  background-color: rgb(187, 104, 116);
}

.fa:hover {
  border: 1px solid hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  color: rgb(221, 219, 219);
}

/*@Hover*/

/*Media Querry*/
@media screen and (min-width: 360px) and (max-width: 760px) {
  .sec__1 {
    background: url("images/bg-hero-mobile.svg");
  }
  .sec__1,
  .sec__2,
  .sec__4,
  .sec__5 {
    flex-direction: column-reverse;
  }
  /*To change to layout of the section w.r.t small screens*/
  .sec__1__a,
  .sec__1__b,
  .sec__2__a,
  .sec__2__b,
  .sec__3__a,
  .sec__3__b,
  .sec__4__a,
  .sec__4__b {
    line-height: 1.9;
    width: 320px;
    height: 320px;
  }

  .sec__2,
  .sec__3,
  .sec__4 {
    width: 350px;
    height: 470px;
    text-align: center;
    margin: 1rem;
  }

  footer {
    padding: 1rem;
    height: 500px;
  }

  .sec__3,
  .footer__main {
    flex-direction: column;
    justify-content: left;
  }

  .footer__main {
    position:absolute;
    top:8%;
    left:15%;
    padding-top: 5rem;
    padding-right: 10rem;
  }
  .footer__copy {
    padding-left: 3%;
  }
}
